{% extends "base.html.twig" %}

{% block body %} 
    {{ encore_entry_link_tags('student') }}
    <div id="student">
        <student></student>
    </div>
    {{ encore_entry_script_tags('student') }}
{% endblock %}