{% extends "base.html.twig" %}

{% block body %} 
    {{ encore_entry_link_tags('inscription_student') }}
    <div id="inscription_student">
        <inscriptionstudent></inscriptionstudent>
    </div>
    {{ encore_entry_script_tags('inscription_student') }}
{% endblock %}